
<ion-content class="ion-padding" color="primary">

  <div>
    <p id='logo'>Abeg</p>
    <p id="welcome" class="ion-text-capitalize">welcome back {{email}}</p>
  </div>

  <ion-item class="ion-no-padding" lines="none" color="primary">
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="userConnect.email" type="email" placeholder="herveyves3@gmail.com"></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding" lines="none" color="primary">
    <ion-label position="stacked">Password</ion-label>
    <ion-input [(ngModel)]="userConnect.password" type="Password" placeholder="........"></ion-input>
    <ion-icon slot="end" name="eye-outline"></ion-icon>
  </ion-item>
  <div class="ion-text-right ion-padding-top">
    <a href="#" target="_blank" rel="forgot">Password forgot?</a>
  </div>
  <ion-button (click)="onSigIn()"  expand="block"  shape="round">
    Sign In
  </ion-button>
</ion-content>
