<ion-content>
  <img class="image" src="../../assets/book.jpg" alt="" srcset="">
  <div class="description">
    <p class="title">Sous la cendre le feu</p>
    <p class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore assumenda consequatur maiores, cupiditate eaque placeat aut perspiciatis, architecto cum nisi, facilis voluptas.</p>
    <p class="desc">Vendeur : Hervé Yves - Douala</p>
    <div>
      <ion-badge color="tertiary" mode="ios">Litterature</ion-badge>
      <ion-badge color="tertiary" mode="ios">Français</ion-badge>
    </div>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="onBack()" color="danger" expand="block">
          Retour
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="success" expand="block">
          Appeler
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
