ion-content{
  --background: #e8ebff;
}

ion-item{
  --padding-start: none;
  --padding-end: none;
}

img{
  height: 110px;
}

.book-title{
  font-weight: 800;
}

.book-info{
  font-weight: 300;
    font-size: 16px;
    margin-top: -10px;
}

